// Recent Posts side bar
.recent_posts {
    padding: $global-padding;
    background: rgb(59, 89, 152);
    background: -moz-linear-gradient(top, rgba(59, 89, 152, 1) 0%, rgba(10, 15, 26, 1) 75%);
    background: -webkit-linear-gradient(top, rgba(59, 89, 152, 1) 0%, rgba(10, 15, 26, 1) 75%);
    background: linear-gradient(to bottom, rgba(59, 89, 152, 1) 0%, rgba(10, 15, 26, 1) 75%);
    .label {
        font-family: 'bebas_neuebold';
        font-size: 1.75rem;
        color: rgba(59, 89, 152, 1);
    }
    .lead {
        font-weight: 900;
    }
    .recent {
        margin-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid rgba($light-gray, .45);
        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }
        a {
            color: $white;
            display: block;
            &:hover {
                color: darken($michigan-maize, 5%);
            }
        }
    }
}
