// Recent events side bar
.events_sidebar {
    padding: $global-padding;
    background: $arboretum-blue;
    margin: 3rem 0;
    .label {
        font-family: 'bebas_neuebold';
        font-size: 1.75rem;
        color: $white;
    }
    .recent_event {
        margin-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid rgba($light-gray, .45);
        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }
        a {
            color: $white;
            &:hover {
                color: darken($michigan-maize, 5%);
            }
        }
        p {
            margin-bottom: 0;
        }
        .event_title {
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
}
