// Recent Posts side bar
.related_posts {
    border-bottom: 1px solid $white;
    .large-4 {
        position: relative;
    }
    .overlay {
        padding: $global-padding;
        opacity: .75;
        position: absolute;
        height: 100%;
        cursor: pointer;
        &:hover {
            opacity: .85;
            transition: all .35s ease-in-out;
        }
        &.red {
            border-left: 1px solid $white;
            border-right: 1px solid $white;
        }
    }
    .hed {
        font-size: 4rem !important;
    }
    a {
        color: $white;
        display: block;
        height: 100%;
        height: 60%;
        bottom: -25%;
        position: relative;
        &:hover {
            color: $white-100;
        }
    }
}
