// Related Posts row
.related_posts {
    border-bottom: 1px solid $white;
    h6 {
        font-family: 'bebas_neuebold';
        font-size: 1.25rem;
        padding: 0 0 0 .75rem;
    }
    .related_item {
        position: relative;
        height: 33vw;
        overflow: hidden;
    }
    .overlay {
        padding: $global-padding;
        opacity: .75;
        position: absolute;
        height: 100%;
        cursor: pointer;
        &:hover {
            opacity: .85;
            transition: all .35s ease-in-out;
        }
        &.red {
            border-left: 1px solid $white;
            border-right: 1px solid $white;
            @include breakpoint(medium down) {
                border-left: 0;
                border-right: 0;
            }
        }
    }
    .hed {
        font-family: 'bebas_neuebold';
        font-size: 4rem;
        line-height: 1;
        @include breakpoint(medium only) {
            font-size: 2.5rem !important;
        }
        @include breakpoint (small only) {
            font-size: 1.25rem !important;
        }
    }
    a {
        color: $white;
        display: block;
        height: 60%;
        bottom: -10%;
        position: relative;
        &:hover {
            color: $white-100;
        }
    }
}
