.sidebar {
    background-color: $light-gray;
    padding: 1rem;
    .hed {
        font-family: 'bebas_neuebold';
        font-size: 1.95rem;
        margin-bottom: .5rem;
        padding-top: 0;
        line-height: 1;
    }
    img {
        margin-bottom: 1rem;
    }
}
