//  Bicent Home
//  -----------------------------
//
//
div.home {
    //  Three Column Lead Features
    //  --------------------------
    //
    //
    section.feature_row {
        height: 65vh;
        a:focus {
            color: $white !important;
        }
    }
    .feature {
        overflow: hidden;
        height: 100%;
        .first {
            height: 100%;
            background: -moz-linear-gradient(top, rgba(39, 39, 39, 0) 0%, rgba(39, 39, 39, 1) 100%), url('https://unsplash.it/g/1800?random&blur') no-repeat center center;
            background: -webkit-linear-gradient(top, rgba(39, 39, 39, 0) 0%, rgba(39, 39, 39, 1) 100%), url('https://unsplash.it/g/1800?random&blur') no-repeat center center;
            background: linear-gradient(to bottom, rgba(39, 39, 39, 0) 0%, rgba(39, 39, 39, 1) 100%), url('https://unsplash.it/g/1800?random&blur') no-repeat center center;
            position: relative;
        }
        .second {
            height: 100%;
            background: -moz-linear-gradient(top, rgba(39, 39, 39, 0) 0%, rgba(39, 39, 39, 1) 100%), url('https://unsplash.it/g/1800?random&blur') no-repeat center center;
            background: -webkit-linear-gradient(top, rgba(39, 39, 39, 0) 0%, rgba(39, 39, 39, 1) 100%), url('https://unsplash.it/g/1800?random&blur') no-repeat center center;
            background: linear-gradient(to bottom, rgba(39, 39, 39, 0) 0%, rgba(39, 39, 39, 1) 100%), url('https://unsplash.it/g/1800?random&blur') no-repeat center center;
            position: relative;
        }
        .third {
            height: 100%;
            background: -moz-linear-gradient(top, rgba(39, 39, 39, 0) 0%, rgba(39, 39, 39, 1) 100%), url('https://unsplash.it/g/1800?random&blur') no-repeat center center;
            background: -webkit-linear-gradient(top, rgba(39, 39, 39, 0) 0%, rgba(39, 39, 39, 1) 100%), url('https://unsplash.it/g/1800?random&blur') no-repeat center center;
            background: linear-gradient(to bottom, rgba(39, 39, 39, 0) 0%, rgba(39, 39, 39, 1) 100%), url('https://unsplash.it/g/1800?random&blur') no-repeat center center;
            position: relative;
        }
        &.tablet-adjust {
            @include breakpoint(medium down) {
                height: 25vh;
            }
        }
    }
    a.feature_overlay {
        color: $medium-gray;
        display: block;
        padding: 0 0.9375rem 0 0.9375rem;
        transition: all 0.3s ease-in-out;
        position: absolute;
        top: 50%;
        &.tablet-overlay-adjust {
            @include breakpoint(medium down) {
                top: 20%;
            }
        }
        &:hover {
            color: $white;
        }
        .tags {
            display: block;
            font-family: 'Open Sans';
            font-weight: 900;
            font-size: 12px;
            margin-bottom: 1rem;
            span {
                padding: .45rem .5rem;
                display: inline-block;
                background-color: rgba($tappan-red, .7);
                position: relative;
            }
            .tag_department {
                margin-right: .55rem;
                text-transform: uppercase;
                &:after {
                    content: '';
                    border-top: 32px solid rgba($tappan-red, .7);
                    border-bottom: 5px solid transparent;
                    border-left: 0px solid transparent;
                    border-right: 5px solid transparent;
                    position: absolute;
                    top: 0;
                    left: 100%;
                }
            }
            .tag_decade {
                &:before {
                    content: '';
                    border-top: 5px solid transparent;
                    border-bottom: 33px solid rgba($tappan-red, .7);
                    border-left: 5px solid transparent;
                    border-right: 0px solid rgba($tappan-red, .7);
                    position: absolute;
                    top: -5px;
                    left: -5px;
                }
            }
        }
        h2 {
            font-family: 'bebas_neuebold';
            font-size: 4rem;
            line-height: .9;
        }
    }
    //  General Row Styles
    //  -------------------------
    //
    //
    .row.category,
    .full_width_feature {
        margin-bottom: 3.5rem;
    }
    .row.expanded h5 {
        background-color: $white;
        font-family: 'bebas_neuebold';
        font-size: 2.5rem;
        z-index: 1;
        &:before {
            content: '';
            display: inline-block;
            width: 10px;
            height: 28px;
            background-color: $black;
            margin-right: 5px;
        }
        &:after {
            @include breakpoint(medium down) {
                display: none;
            }
            content: '\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\';
            font-family: 'bebas_neuelight';
            font-size: 10px;
            width: 86%;
            overflow: hidden;
            display: inline-block;
            float: right;
            margin-top: 33px;
        }
    }
    .brand_lines {
        background-image: linear-gradient( to right top, transparent 0%, transparent 33%, $medium-gray 33%, $medium-gray 66%, transparent 66%, transparent 100%);
        background-size: 3px 3px;
        padding: 3rem 0;
        margin-bottom: 2.75rem;
    }
    .row.large-collapse {
        margin-bottom: 1.25rem;
    }
    //  Two Column Wide Features
    //  -------------------------
    //
    //
    .category_feature {
        height: 29vh;
        overflow: hidden;
        position: relative;
        background-color: $medium-gray;
        img {
            width: 100%;
        }
        .overlay {
            margin: auto;
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            a {
                background-color: rgba(0, 0, 0, .75);
                display: block;
                width: 100%;
                height: 100%;
                padding: 1rem;
                color: $medium-gray;
                transition: background-color .3s ease-in-out;
                &:hover {
                    color: $white;
                    background-color: rgba(0, 0, 0, 1);
                    transition: background-color .3s ease-in-out;
                }
            }
            .secondary_tags {
                font-family: 'Open Sans';
                font-size: .75rem;
                font-weight: 900;
                color: $tappan-red;
                margin-bottom: 0;
                .secondary_tag_department {
                    text-transform: uppercase;
                }
            }
            .hed {
                font-family: 'bebas_neuebold';
                font-size: 2rem;
                line-height: 1;
                margin-bottom: 0;
            }
        }
    }
    //  Four Column Cards 
    //  -------------------------
    //
    //
    .category_secondary_feature {
        .secondary_tags {
            font-family: 'Open Sans';
            font-size: .75rem;
            font-weight: 900;
            color: $tappan-red;
            padding-left: .5rem;
            padding-top: .5rem;
            margin-bottom: 0;
            .secondary_tag_department {
                text-transform: uppercase;
            }
        }
        &.category_link.card {
            cursor: pointer;
            &:hover {
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.33), 0 1px 5px 0 rgba(0, 0, 0, 0.28);
            }
        }
        .card-title {
            font-family: 'bebas_neuebold';
            margin: -10px 0 0;
        }
        .card-action.large_action {
            padding: $card-padding;
            position: absolute;
            bottom: 0;
            a {
                font-family: 'bebas_neuebold';
                font-size: 4rem;
                color: $white !important;
                line-height: .8;
                &:hover {
                    color: $black !important;
                }
            }
        }
    }
    //  Full Width Parallax
    //  -------------------------
    //
    //
    .parallax-window {
        min-height: 400px;
        background: transparent;
        .overlay_container {
            position: relative;
            height: 300px;
            @include breakpoint(medium down) {
                height: auto;
                margin-top: 5%;
            }
        }
        .full_width_feature_overlay {
            color: $white;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 30%;
            hr {
                width: 20%;
                border-top: 3px double $white;
                border-bottom: 0;
            }
            p {
                margin: 0;
                padding: 0;
                line-height: 1;
                text-shadow: 0px 0px 13px rgba(67, 67, 69, 0.8);
            }
            .serif-itals {
                font-style: italic;
                font-size: 1.5rem;
                @include breakpoint(medium down) {
                    font-size: 1rem;
                }
            }
            .sans-hed-bold {
                font-family: 'bebas_neuebold';
                font-size: 5rem;
                @include breakpoint(medium down) {
                    font-size: 3rem;
                }
            }
        }
    }
    //  Sharing Row
    //  -------------------------
    //
    //
    .sharing_row {
        .sharing_box {
            background-color: $white;
        }
        .single_social_post,
        .social_channels,
        .newsletter {
            padding: $global-padding;
        }
        .label {
            font-family: 'bebas_neuebold';
            font-size: 1.75rem;
            &.get_more_label {
                position: absolute;
            }
        }
        .single_social_post {
            .social_post_container {
                margin: 1rem 0 0;
                .time_stamp {
                    font-family: 'Open Sans';
                    font-weight: 400;
                    font-size: .8rem;
                    color: $dark-gray;
                    margin-bottom: .4rem;
                }
                .social_post {
                    margin-bottom: 1rem;
                    font-size: .9rem;
                    .social_handle {
                        font-weight: 400;
                        font-style: italic;
                    }
                }
            }
        }
        .social_channels {
            .label {
                margin-bottom: 1rem;
            }
            .icons_row a {
                color: $black-54;
                .fa.fa-stack-1x.fa-inverse {
                    font-size: 1.25rem;
                }
                &.facebook:hover {
                    color: #3b5998;
                }
                &.twitter:hover {
                    color: #00aced;
                }
                &.instagram:hover {
                    color: #e95950;
                }
                &.snapchat:hover {
                    color: #fffc00;
                }
                &.flickr:hover {
                    color: #ff0084;
                }
                &.youtube:hover {
                    color: #bb0000;
                }
            }
        }
        .newsletter {
            font-size: .9rem;
            .label {
                margin-bottom: 1rem;
            }
            .input-group {
                margin-top: 1rem;
            }
        }
    }
    //  Old School Cool
    //  --------------------
    //
    //
    .old_school_cool {
        .old_school_box {
            background-color: $white;
            .photo_text_container {
                padding: $global-padding;
                div {
                    margin-bottom: 1rem;
                }
                .label {
                    font-family: 'bebas_neuebold';
                    font-size: 1.75rem;
                    margin-bottom: 1rem;
                }
                .photo_headline {
                    font-family: 'bebas_neuebold';
                    font-size: 2.25rem;
                    line-height: 1;
                }
                .sharing {
                    font-family: 'Open Sans';
                    font-weight: 600;
                    font-size: .95rem;
                    color: $dark-gray;
                    text-transform: uppercase;
                    a {
                        display: inline-block;
                        margin-right: 1rem;
                        color: $dark-gray;
                        &:first-child {
                            margin-left: 1rem;
                        }
                        &.facebook:hover {
                            color: #3b5998;
                        }
                        &.twitter:hover {
                            color: #00aced;
                        }
                        &.mail:hover {
                            color: $michigan-blue;
                        }
                    }
                }
            }
        }
    }
}
