<div class="columns wow fadeInUp" data-wow-delay=".5s">
    <div class="category_secondary_feature card" data-equalizer-watch>
        <p class="secondary_tags"><span class="secondary_tag_department">Department &amp; Department</span> | <span class="secondary_tag_decade">1980s</span></p>
        <div class="card-title"><a href="{{root}}story-short.html"><span>Inceptos Amet Cursus Porta Magna Pharetra Sem</span></a></div>
        <div class="card-image">
            <a href="{{root}}story-short.html"><img src="./assets/img/16-9.jpg" alt="Feature card image descriptive text"></a>
        </div>
        <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
            <a href="{{root}}story-short.html">This is a link</a>
        </div>
    </div>
</div>
