<div class="row wow fadeInUp" data-wow-delay=".35s">
    <div class="small-8 small-push-4 medium-8 medium-push-0 large-8 large-push-0 columns">
        <p class="secondary_tags"><a href="{{root}}areas.html"><span class="secondary_tag_department">--varDepartmentTitle--</span></a> | <a href="{{root}}decades.html"><span class="secondary_tag_decade">--varDecade--</span></a></p>
        <p class="hed"><a href="{{root}}story-long.html">Purus Justo Mattis Vestibulum Sollicitudin</a></p>
        <p class="dek">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p class="read_more"><a href="{{root}}story-long.html">read more »</a></p>
    </div>
    <div class="small-4 small-pull-8 medium-4 medium-push-0 large-4 large-push-0  columns"><img src="./assets/img/1by1-img.png" alt="Two column item image descriptive text"></div>
</div>
