<div class="row">
    <div class="small-8 small-push-4 medium-8 medium-push-0 large-8 large-push-0 columns">
        <p class="hed"><a href="#">Event Title</a></p>
        <p class="dek"><strong>Where:</strong> Tellus Ridiculus Magna
            <br><strong>When:</strong> Magna Ridiculus Tellus  
            <br><strong>Details:</strong> Maecenas sed diam eget risus varius blandit sit amet non magna.
        </p>
        <p class="read_more"><a href="#">see more »</a></p>
    </div>
    <div class="small-4 small-pull-8 medium-4 medium-push-0 large-4 large-push-0  columns"><img src="https://unsplash.it/g/1200/?random&amp;blur" alt="Two column item image descriptive text"></div>
</div>
