<section class="row expanded events brand_lines wow fadeInUp" data-wow-delay=".5s">
    <div class="small-12 medium-11 large-11 large-centered events_box row collapse">
        <div class="small-12 medium-6 large-5 columns events_main_containter">
            <div class="events_headline">Bicentennial Events</div>
            <div class="events_text">Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit.</div>
            <div class="follow_button"><a href="{{root}}/events.html" class="button waves-effect waves-light raised-button light-blue">see all events</a></div>
        </div>
        <div class="small-12 medium-6 large-4 columns events_image"><img src="https://unsplash.it/g/1200?random&amp;blur" alt="Events image descriptive text"></div>
        <div class="small-12 medium-6 large-3 columns events_main_containter">
            <div class="events_headline_small">Aenean Tellus Adipiscing</div>
            <div class="events_text">
                <p><strong>Where:</strong> 1200 Pantalones Ave
                    <br>Room 0101</p>
                <p><strong>When:</strong> MM/DD/YYYY @ HH:MM am/pm</p>
                <p><strong>Details:</strong> Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum.</p>
            </div>
        </div>
    </div>
</section>
