<footer class="footer">
    <div class="row expanded">
        <div class="small-4 small-centered medium-2 medium-uncentered large-2 large-uncentered xlarge-1 xlarge-uncentered columns logo-cell">
            <a class="logo" href="{{root}}/"><img src="./assets/img/CoE-vert-rev-PMS.svg" alt="College of Engineering | University of Michigan"></a>
        </div>
        <div class="small-12 medium-10 large-10 xlarge-11 columns footer-text">
            <div class="small-12 small-text-center medium-3 large-3 columns">
                <h6>MICHIGAN ENGINEERING</h6>
                <p>1221 Beal Avenue</p>
                <p>Ann Arbor, MI 48109-2102</p>
                <p>+1 (734) 647-7000</p>
                <p><a href="mailto:engin-info@umich.edu">engin-info@umich.edu</a></p>
            </div>
            <div class="small-12 small-text-center  medium-3 large-3 columns">
                <h6>College of ENGINEERING</h6>
                <p><a href="">About</a></p>
                <p><a href="">Research</a></p>
                <p><a href="">Academics</a></p>
                <p><a href="">Admissions</a></p>
                <p><a href="">Departments</a></p>
                <p><a href="">Giving</a></p>
                <p><a href="">Info for You</a></p>
            </div>
            <div class="small-12 small-text-center  medium-3 large-3 columns">
                <h6>follow us</h6>
                <p><a href="">Facebook</a></p>
                <p><a href="">Twitter</a></p>
                <p><a href="">Instagram</a></p>
                <p><a href="">Snapchat</a></p>
                <p><a href="">Pinterest</a></p>
                <p><a href="">Linkedin</a></p>
                <p><a href="">YouTube</a></p>
                <p><a href="">Tumblr</a></p>
                <p><a href="">Google+</a></p>
            </div>
            <div class="small-12 medium-12 large-12 column legal">
                <a href="http://regents.umich.edu/">© 2016 The Regents of the University of Michigan Ann Arbor, MI 48109 USA</a> | <a href="https://coecongrats.wpengine.com/acceptable-use-and-privacy-policies/">Privacy Policy</a> | <a href="{{root}}/contact.html">Contact</a> | <a href="http://hr.umich.edu/oie/ndpolicy.html">Non-Discrimination Policy</a> | <a href="http://safety.engin.umich.edu/">Campus Safety</a> | <a href="http://umich.edu">U-M Home</a>
            </div>
        </div>
    </div>
</footer>
</div>
