<footer class="footer wow fadeInUp" data-wow-delay=".5s">
            <div class="row">
                <div class="large-4 medium-6 small-12 columns">
                    <a href="http://engin.umich.edu/"><img src="" alt="Material Science &amp; Engineering"></a>
                    <ul class="footer-list title-area">
                        <li>
                            <ul class="large-6 medium-6 small-12 columns footer-list">
                                <li><a href="#">About</a></li>
                                <li><a href="#">People</a></li>
                                <li><a href="#">Research</a></li>
                            </ul>
                            <ul class="large-6 medium-6 small-12 columns footer-list">
                                <li><a href="#">Academics</a></li>
                                <li><a href="#">News &amp; Events</a></li>
                                <li><a href="#">Alumni</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="large-4 medium-6 small-12 columns middle-item">
                    <ul class="footer-connect-list">
                        <li>
                            <div class="footer-heds">CONNECT WITH MSE</div>
                            <p id="footer-social">
                                <a title="Facebook" href="https://facebook.com/umbme" class="item footer-item footer-facebook" tabindex="0" aria-label="Facebook">
                                    <i class="fa fa-facebook fa-fw"></i>
                                </a>
                                <a title="Twtitter" href="https://twitter.com/umbme" class="item footer-item footer-twitter" tabindex="0" aria-label="Twitter">
                                    <i class="fa fa-fw fa-twitter fa-fw"></i>
                                </a>
                                <a title="LinkedIn" href="https://www.linkedin.com/groups/1693347" class="item footer-item footer-linkedin" tabindex="0" aria-label="LinkedIn">
                                    <i class="fa fa-fw fa-linkedin fa-fw"></i>
                                </a>
                            </p>
                        </li>
                        <li>
                            <div class="footer-heds">GET THE MSE NEWSLETTER</div>
                            <div>
                                <form>
                                    <div>
                                        <div>
                                            <input type="email" name="EMAIL" class="required email-field">
                                        </div>
                                        <div class="clear">
                                            <input type="submit" value="" name="subscribe" class="email-submit">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <p></p>
                        </li>
                    </ul>
                </div>
                <div class="large-4 medium-8 small-12 columns small-uncentered medium-centered large-uncentered">
                    <ul class="title-area " style="list-style: none;">
                        <li class="">
                            <div id="logo-sm">
                                <a href="http://engin.umich.edu/"><img src="" alt="Michigan Engineering"></a>
                            </div>
                            <ul class="large-6 medium-6 small-12 columns footer-list title-area">
                                <li><a href="http://www.engin.umich.edu/college/about/">About</a></li>
                                <li><a href="http://www.engin.umich.edu/college/research/">Research</a></li>
                                <li><a href="http://www.engin.umich.edu/college/academics/">Academics</a></li>
                                <li><a href="http://www.engin.umich.edu/college/admissions/">Admissions</a></li>
                            </ul>
                            <ul class="large-6 medium-6 small-12 columns footer-list title-area">
                                <li><a href="http://www.engin.umich.edu/college/departments/">Departments</a></li>
                                <li><a href="http://www.engin.umich.edu/college/giving/">Giving</a></li>
                                <li><a href="http://www.engin.umich.edu/college/info/">Info for you</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="large-12 medium-12 small-12 footer-text columns">
                    <p id="footer-sm-text">© 2016 THE REGENTS OF THE UNIVERSITY OF MICHIGAN Ann Arbor, MI 48109 USA |
                        <a href="http://safety.engin.umich.edu/">campus  SAFETY</a> | <a href="http://umich.edu/">U-M Home</a></p>
                </div>
            </div>
        </footer>