<!--Lead Row-->
<div class="small-12 medium-6 large-4 xlarge-4 columns feature">
    <div class="first">
        <a class="feature_overlay" href="{{root}}story-long.html">
            <span class="tags"><span class="tag_department">--varDepartmentTitle--</span> <span class="tag_decade">--varDecade--</span></span>
            <h2>Title of the piece</h2>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue.</p>
        </a>
    </div>
</div>
<div class="small-12 medium-6 large-4 xlarge-4 columns feature">
    <div class="second">
        <a class="feature_overlay" href="{{root}}story-short.html">
            <span class="tags"><span class="tag_department">--varDepartmentTitle--</span> <span class="tag_decade">--varDecade--</span></span>
            <h2>A little longer Title of the piece</h2>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Etiam porta sem malesuada magna mollis euismod.</p>
        </a>
    </div>
</div>
<div class="small-12 medium-12 large-4 xlarge-4 columns feature tablet-adjust">
    <div class="third">
        <a class="feature_overlay tablet-overlay-adjust" href="{{root}}story-long.html">
            <span class="tags"><span class="tag_department">--varDepartmentTitle--</span> <span class="tag_decade">--varDecade--</span></span>
            <h2>Title of the piece</h2>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod.</p>
        </a>
    </div>
</div>
