<div id="skip"><a href="#content">Skip to Main Content</a></div>
<div class="navigation" data-sticky-container>
    <div class="title-bar" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
        <div class="row bottom expanded collapse">
            <div class="title-bar-title medium-4 large-4 xlarge-3 column">
                <button class="hamburger hamburger--slider" type="button" data-toggle="main-menu" data-hide-for="large"><span class="hamburger-box"><span class="hamburger-inner"></span></button>
                <a class="logo" href="./"><img src="./assets/img/CoE-BICENT-horiz-rev.svg" alt="College of Engineering | University of Michigan"></a>
            </div>
            <div class="medium-8 large-8 column main_menu disable-selection" data-toggle="main-menu">
                <div class="row ">
                    <div class="medium-3 large-3 column show-for-medium category">
                        <div class="web_header invisible">Bicentennial Web Project</div>
                    </div>
                    <div {{#ifpage 'story-type'}}class="is-active medium-2 large-2 column show-for-large category" {{/ifpage}} {{#ifpage 'impact'}}class="is-active medium-2 large-2 column show-for-large category" {{/ifpage}} class="medium-2 large-2 column show-for-large category"><span class="">Story Type</span></div>
                    <div {{#ifpage 'decades'}}class="is-active medium-2 large-2 column show-for-large category" {{/ifpage}} class="medium-2 large-2 column show-for-large category"><span class="">Time Travel</span></div>
                    <div {{#ifpage 'subject-areas'}}class="is-active medium-3 large-3 column show-for-large category" {{/ifpage}} class="medium-3 large-3 column show-for-large category"><span class="">Subject Areas</span></div>
                    <div {{#ifpage 'events'}}class="is-active medium-2 large-2 column show-for-large category" {{/ifpage}} class="medium-2 large-2 column show-for-large category"><span class="">Upcoming</span></div>
                </div>
            </div>
        </div>
        <div class="dropdown-pane row expanded large-collapse menu" id="main-menu" data-dropdown data-sticky data-close-on-click="true">
            <div class="small-12 medium-12 large-4 show-for-medium show-for-large column bicent-brand">
                <div class="row">
                    <div class="large-6 large-centered"><img src="./assets/img/Bicentennial-Mark-solid-white-no-tagline.svg" alt="College of Engineering | University of Michigan"></div>
                </div>
                <div class="row text-center"><span class="tagline"><em>Always Innovating. Forever Valiant.</em></span></div>
            </div>
            <div class="small-12 medium-12 large-8 column">
                <div class="row ">
                    <div class="small-12 medium-1 large-3 column hide-for-medium-down show-for-large search">
                        <form action="search-results.html" method="get">
                            <label>Search Term
                                <input type="text">
                            </label>
                            <label>Subject Areas
                                <select>
                                    <option value="" selected disabled>Select Subject Area</option>
                                    <option value="aero">Aerospace</option>
                                    <option value="bme">Biomedical</option>
                                    <option value="che">Chemical</option>
                                    <option value="civil">Civil and Environmental</option>
                                    <option value="climate">Climate and Space</option>
                                    <option value="cs">Computer Science</option>
                                    <option value="ec">Electrical and Computer</option>
                                    <option value="ec">Industrial and Operations</option>
                                    <option value="me">Materials Science</option>
                                    <option value="mech">Mechanical</option>
                                    <option value="md">Multidisciplinary</option>
                                    <option value="name">Naval Arch and Marine</option>
                                    <option value="nukerad">Nuclear and Radiological</option>
                                </select>
                            </label>
                            <label>Topics
                                <select>
                                    <option value="" selected disabled>Story Types</option>
                                    <option value="impact">Impact</option>
                                    <option value="legends">Legends</option>
                                    <option value="experience">Experience</option>
                                    <option value="on-the-move">On the move</option>
                                    <option value="quirky">Quirky</option>
                                </select>
                            </label>
                            <input type="submit" class="button waves-effect waves-light" value="Search">
                        </form>
                    </div>
                    <div class="small-6 medium-3 large-2 column sub_categories">
                        <ul class="">
                            <li class="hide-for-large">Story Type</li>
                            <li class="item all-link">
                                <a href="{{root}}story-type.html">see all stories <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </li>
                            <li class="item">
                                <a href="{{root}}impact.html">Impact</a>
                            </li>
                            <li class="item">
                                <a href="{{root}}story-type.html">Legends</a>
                            </li>
                            <li class="item">
                                <a href="{{root}}story-type.html">Experience</a>
                            </li>
                            <li class="item">
                                <a href="{{root}}story-type.html">On the move</a>
                            </li>
                            <li class="item">
                                <a href="{{root}}story-type.html">Quirky</a>
                            </li>
                        </ul>
                    </div>
                    <div class="small-6 medium-3 large-2 column sub_categories">
                        <ul class="">
                            <li class="hide-for-large">Time Travel</li>
                            <li class="item all-link">
                                <a href="{{root}}decades.html">see all decades <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </li>
                            <li class="item">
                                <a href="{{root}}decades.html">1800s</a>
                            </li>
                            <li class="item">
                                <a href="{{root}}decades.html">1900s</a>
                            </li>
                            <li class="item">
                                <a href="{{root}}decades.html">1900s</a>
                            </li class="item">
                            <li class="item">
                                <a href="{{root}}decades.html">1950s</a>
                            </li>
                            <li class="item">
                                <a href="{{root}}decades.html">2000s</a>
                            </li>
                    </div>
                    <div class="small-6 medium-3 large-3 column sub_categories">
                        <ul class="">
                            <li class="hide-for-large">Subject Areas</li>
                            <li class="item">
                                <input type="checkbox" class="read-more-state" id="post-2" />
                                <label for="post-2" class="read-more-trigger"></label>
                                <ul class="read-more-wrap">
                                    <li><a href="{{root}}subject-areas.html">Aerospace</a></li>
                                    <li><a href="{{root}}subject-areas.html">Biomedical</a></li>
                                    <li><a href="{{root}}subject-areas.html">Chemical</a></li>
                                    <li><a href="{{root}}subject-areas.html">Civil and Environmental</a></li>
                                    <li><a href="{{root}}subject-areas.html">Climate and Space</a></li>
                                    <li class="read-more-target"><a href="{{root}}subject-areas.html">Computer Science</a></li>
                                    <li class="read-more-target"><a href="{{root}}subject-areas.html">Electrical and Computer</a></li>
                                    <li class="read-more-target"><a href="{{root}}subject-areas.html">Industrial and Operations</a></li>
                                    <li class="read-more-target"><a href="{{root}}subject-areas.html">Materials Science</a></li>
                                    <li class="read-more-target"><a href="{{root}}subject-areas.html">Mechanical</a></li>
                                    <li class="read-more-target"><a href="{{root}}subject-areas.html">Multidisciplinary</a></li>
                                    <li class="read-more-target"><a href="{{root}}subject-areas.html">Naval Arch and Marine</a></li>
                                    <li class="read-more-target"><a href="{{root}}subject-areas.html">Nuclear and Radiological</a></li>
                                    <li class="read-more-target item all-link">
                                        <a href="{{root}}subject-areas.html">see all areas <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </li>
                    </div>
                    <div class="small-6 medium-3 large-2 column sub_categories">
                        <ul class="">
                            <li class="hide-for-large">Upcoming</li>
                            <li class="item all-link invisible">
                                <a href="{{root}}decades.html">see all <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </li>
                            <li class="item">
                                <a href="{{root}}events.html">Events</a>
                            </li>
                            <li class="item">
                                <a href="#">Stories</a>
                            </li>
                            <li class="item">
                                <a href="#">Activities</a>
                            </li>
                            <li class="item">
                                <a href="#">About</a>
                            </li>
                            <li class="item">
                                <a href="#">Contact</a>
                            </li>
                    </div>
                    <div class="small-12 hide-for-medium hide-for-large column">
                        <div class="input-group">
                            <span class="input-group-label"><i class="fa fa-search" aria-hidden="true"></i></span>
                            <input class="input-group-field" type="text">
                            <div class="input-group-button">
                                <input type="submit" class="button" value="Submit">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
