<section class="row expanded old_school_cool brand_lines wow fadeInUp" data-wow-delay=".5s">
    <div class="small-12 medium-11 large-11 large-centered old_school_box row collapse">
        <div class="small-12 medium-6 large-7 columns"><img src="https://unsplash.it/g/1200/675?random&amp;blur" alt="Old School Cool image descriptive text"></div>
        <div class="small-12 medium-6 large-5 columns">
            <div class="photo_text_container"><span class="label teal">Old School Cool</span>
                <div class="photo_headline">Aenean Malesuada Consectetur Bibendum Porta Tellus Adipiscing</div>
                <div class="photo_text">Sed posuere consectetur est at lobortis. Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna.</div>
                <div class="sharing">share this: <a class="facebook" href="#linkme"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a class="twitter" href="#linkme"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a class="mail" href="#linkme"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
