<section class="row expanded collapse related_posts wow fadeInUp" data-wow-delay=".5s">
    <div class="small-12 medium-4 large-4 column text-center">
        <div class="overlay blue">
            <a href="{{root}}/story-long.html">
                <div class="hed">Law Students vs. Engineers</div>
                <div class="dek show-for-large">The student-run Michigan Daily published its first report about it on January 12, 1934, and suggested that an “old rivalry between engineers and lawyers broke out again last night.”</div>
            </a>
        </div><img src="https://unsplash.it/g/1200?random&amp;blur">
    </div>
    <div class="small-12 medium-4 large-4 column text-center">
        <div class="overlay red">
            <a href="{{root}}/story-short.html">
                <div class="hed">Sem Cursus Consectetur</div>
                <div class="dek show-for-large">The student-run Michigan Daily published its first report about it on January 12, 1934, and suggested that an “old rivalry between engineers and lawyers broke out again last night.”</div>
            </a>
        </div><img src="https://unsplash.it/g/1300?random&amp;blur">
    </div>
    <div class="small-12 medium-4 large-4 column text-center">
        <div class="overlay black">
            <a href="{{root}}/story-long.html">
                <div class="hed">Vehicula Egestas Nibh</div>
                <div class="dek show-for-large">The student-run Michigan Daily published its first report about it on January 12, 1934, and suggested that an “old rivalry between engineers and lawyers broke out again last night.”</div>
            </a>
        </div><img src="https://unsplash.it/g/1400?random&amp;blur">
    </div>
</section>
