<section class="row expanded collapse related_posts wow fadeInUp" data-wow-delay=".5s">
    <h6 class="related_title">Related Posts</h6>
    <div class="small-4 medium-4 large-4 column text-center related_item">
        <div class="overlay blue">
            <a href="{{root}}story-long.html">
                <div class="hed">Law Students vs. Engineers</div>
                <div class="dek show-for-large">The student-run Michigan Daily published its first report about it on January 12, 1934, and suggested that an “old rivalry between engineers and lawyers broke out again last night.”</div>
            </a>
        </div><img src="assets/img/ts.jpg" alt="Descriptive text">
    </div>
    <div class="small-4 medium-4 large-4 column text-center related_item">
        <div class="overlay red">
            <a href="{{root}}story-short.html">
                <div class="hed">Sem Cursus Consectetur</div>
                <div class="dek show-for-large">The student-run Michigan Daily published its first report about it on January 12, 1934, and suggested that an “old rivalry between engineers and lawyers broke out again last night.”</div>
            </a>
        </div><img src="assets/img/ts.jpg" alt="Descriptive text">
    </div>
    <div class="small-4 medium-4 large-4 column text-center related_item">
        <div class="overlay black">
            <a href="{{root}}story-long.html">
                <div class="hed">Vehicula Egestas Nibh</div>
                <div class="dek show-for-large">The student-run Michigan Daily published its first report about it on January 12, 1934, and suggested that an “old rivalry between engineers and lawyers broke out again last night.”</div>
            </a>
        </div><img src="assets/img/ts.jpg" alt="Descriptive text">
    </div>
</section>
