<div class="row wow fadeInUp" data-wow-delay=".5s">
    <div class="sidebar">
        <div class="hed">Dapibus Ullamcorper Sem Porta</div>
        <div><img src="{{root}}assets/img/ts.png" alt="alt alt alt text text text"></div>
        <div class="dek">
            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        </div>
    </div>
</div>
