<div class="medium-6 large-6 columns category_feature wow fadeInUp" data-wow-delay=".5s"><img src="{{root}}assets/img/4by3-img.png" alt="Two column item image descriptive text">
    <div class="overlay small-12 small-uncentered medium-11 large-7 large-centered text-center">
        <a href="{{root}}story-long.html">
        <p class="secondary_tags"><span class="secondary_tag_department">--varDepartmentTitle--</span> | <span class="secondary_tag_decade">--varDecade--</span></p>
            <p class="hed">Sit Inceptos Lorem Ipsum Dolor Sit Amet Aenean Purus</p>
            <p class="dek">Cras justo odio, dapibus ac facilisis in, egestas egestas eget eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </a>
    </div>
</div>
